Repository JuliaPackaging/Yggdrasil, pull requests merged in 2020-01, with the labels that each got.

#354 Wizard recipe: Fastjet-v3.3.3
  F/Fastjet/build_tarballs.jl
Labels: Science :woman_scientist:

#318 add other build tools to cmake toolchains
  0_RootFS/PlatformSupport/bundled/buildsystem_toolchains/cmake_macos_clang.j2
  0_RootFS/PlatformSupport/bundled/buildsystem_toolchains/cmake_macos_gcc.j2
  0_RootFS/PlatformSupport/bundled/buildsystem_toolchains/cmake_simple_clang.j2
  0_RootFS/PlatformSupport/bundled/buildsystem_toolchains/cmake_simple_gcc.j2
Labels: BinaryBuilder :gear:

#376 add patch for use after free in LLVM
  0_RootFS/LLVMBootstrap@7/bundled/patches/0004-llvm-use-after-free.patch
  0_RootFS/LLVMBootstrap@8/bundled/patches/0004-llvm-use-after-free.patch
  0_RootFS/LLVMBootstrap@9/bundled/patches/0004-llvm-use-after-free.patch
  0_RootFS/llvm_common.jl
Labels: LLVM :dragon:

#389 increase verbosity of LLVM build script
  L/LLVM/common.jl
  L/LLVM/v9/build_tarballs.jl
Labels: LLVM :dragon:, long shot :bow_and_arrow:

#293 add GDAL builder
  G/GDAL/build_tarballs.jl
  G/GDAL/bundled/patches/configure_ac_proj_libs.patch
Labels: Science :woman_scientist:, long shot :bow_and_arrow:

#403 Add missing LLVM patches
  L/LLVM/v8/bundled/llvm_patches/0030-llvm-8.0-D66657-codegen-degenerate.patch
  L/LLVM/v8/bundled/llvm_patches/0031-llvm-8.0-D71495-vectorize-freduce.patch
  L/LLVM/v9/build_tarballs.jl
  L/LLVM/v9/bundled/llvm_patches/0030-llvm-8.0-D66657-codegen-degenerate.patch
  L/LLVM/v9/bundled/llvm_patches/0031-llvm-8.0-D71495-vectorize-freduce.patch
  L/LLVM/v9/bundled/patches/0006-D50010-VNCoercion-ni.patch
Labels: LLVM :dragon:

#401 build LLVM 8
  L/LLVM/v8/build_tarballs.jl
Labels: LLVM :dragon:

#426 [LLVM] build v6
  L/LLVM/v6/build_tarballs.jl
Labels: LLVM :dragon:

#412 [AZP] Limit the number of projects that can be built in a single go
  azure-pipelines.yml
Labels: meta :deciduous_tree:
