Repository JuliaPackaging/Yggdrasil, pull requests merged in 2021-04, with the labels that each got.

#1987 [libjulia] Add v1.6.0
  L/libjulia/common.jl
  L/libjulia/libjulia@1.6/build_tarballs.jl
  L/libjulia/libjulia@1.6/bundled/patches/0001-flisp-system.patch
  L/libjulia/libjulia@1.6/bundled/patches/0002-skip-dsymutil-segfaults.patch
Labels: julia :purple_heart: :heart: :green_heart:

#2836 Manually disable `clock_gettime` in GCC builds for Darwin
  0_RootFS/gcc_common.jl
Labels: BinaryBuilder :gear:

#2832 Bump rootfs version
  0_RootFS/Rootfs/build_tarballs.jl
Labels: BinaryBuilder :gear:

#2870 Add CUDA 11.3.
  C/CUDA/CUDA_full@11.3/build_tarballs.jl
Labels: cuda :joystick:

#2880 Add CUDA 11.3.
  C/CUDA/CUDA@11.3/build_tarballs.jl
Labels: cuda :joystick:

#2888 Add a unified CUDA loader.
  C/CUDA/CUDA_loader/build_10.0.jl
  C/CUDA/CUDA_loader/build_10.2.jl
  C/CUDA/CUDA_loader/build_11.0.jl
  C/CUDA/CUDA_loader/build_11.1.jl
  C/CUDA/CUDA_loader/build_11.2.jl
  C/CUDA/CUDA_loader/build_11.3.jl
  C/CUDA/CUDA_loader/build_9.0.jl
  C/CUDA/CUDA_loader/build_9.2.jl
  C/CUDA/CUDA_loader/build_tarballs.jl
Labels: cuda :joystick:
