Repository JuliaPackaging/Yggdrasil, pull requests merged in 2021-05, with the labels that each got.

#2933 Rework CUDNN and CUTENSOR recipes
  C/CUDNN/CUDNN_CUDA102/build_tarballs.jl
  C/CUDNN/CUDNN_CUDA110/build_tarballs.jl
  C/CUDNN/CUDNN_CUDA111/build_tarballs.jl
  C/CUDNN/CUDNN_CUDA112/build_tarballs.jl
  C/CUDNN/build_10.2.jl
  C/CUDNN/build_11.0.jl
  C/CUDNN/build_11.1.jl
  C/CUDNN/build_11.2.jl
  C/CUDNN/build_11.3.jl
  C/CUDNN/build_11.jl
  C/CUDNN/build_tarballs.jl
  C/CUDNN/common.jl
  C/CUTENSOR/CUTENSOR_CUDA101/build_tarballs.jl
  C/CUTENSOR/CUTENSOR_CUDA111/build_tarballs.jl
  C/CUTENSOR/CUTENSOR_CUDA112/build_tarballs.jl
  C/CUTENSOR/build_10.2.jl
  C/CUTENSOR/build_11.0.jl
  C/CUTENSOR/build_11.1.jl
  C/CUTENSOR/build_11.2.jl
  C/CUTENSOR/build_11.3.jl
  C/CUTENSOR/build_11.jl
  C/CUTENSOR/build_tarballs.jl
  C/CUTENSOR/common.jl
Labels: cuda :joystick:

#2937 [CUDA_loader] Add forgotten CUDA 10.1.
  C/CUDA/CUDA_loader/build_10.1.jl
  C/CUDA/CUDA_loader/build_tarballs.jl
Labels: cuda :joystick:

#2942 [CUDA] Re-organize loader recipe
  C/CUDA/CUDA_loader/build_10.0.jl
  C/CUDA/CUDA_loader/build_10.1.jl
  C/CUDA/CUDA_loader/build_10.2.jl
  C/CUDA/CUDA_loader/build_11.0.jl
  C/CUDA/CUDA_loader/build_11.1.jl
  C/CUDA/CUDA_loader/build_11.2.jl
  C/CUDA/CUDA_loader/build_11.3.jl
  C/CUDA/CUDA_loader/build_9.0.jl
  C/CUDA/CUDA_loader/build_9.2.jl
Labels: cuda :joystick:

#2949 [AZP] Update BinaryBuilder and BinaryBuilderBase
  .ci/Manifest.toml
Labels: meta :deciduous_tree:

#2971 [RootFS] Use phracker MacOSX SDK 11.1
  0_RootFS/gcc_common.jl
Labels: BinaryBuilder :gear:

#2988 [Rootfs] Fix `--no-whole-archive` flag for macOS in `flagon`
  0_RootFS/Rootfs/bundled/utils/flagon
Labels: BinaryBuilder :gear:

#91 [Glib] Upgrade builder to v2.68.1
  G/Glib/build_tarballs.jl
  G/Glib/bundled/patches/freebsd-have_xattr.patch
Labels: FreeBSD :imp:, GTK :computer:, long shot :bow_and_arrow:, macOS :apple:

#3086 [CUDA] Update to v11.3.1.
  C/CUDA/CUDA_full@11.3/build_tarballs.jl
Labels: cuda :joystick:
