Repository JuliaPackaging/Yggdrasil, pull requests merged in 2021-11, with the labels that each got.

#3856 Separate libunwind into 1.3.2 and 1.5.0 builders, add a patch
  L/LibUnwind/LibUnwind@1.5.0/build_tarballs.jl
  L/LibUnwind/LibUnwind@1.5.0/bundled/patches/libunwind-cfa-rsp.patch
  L/LibUnwind/LibUnwind@1.5.0/bundled/patches/libunwind-configure-ppc64le.patch
  L/LibUnwind/LibUnwind@1.5.0/bundled/patches/libunwind-configure-static-lzma.patch
  L/LibUnwind/LibUnwind@1.5.0/bundled/patches/libunwind-dwarf-table.patch
  L/LibUnwind/LibUnwind@1.5.0/bundled/patches/libunwind-prefer-extbl.patch
  L/LibUnwind/LibUnwind@1.5.0/bundled/patches/libunwind-static-arm.patch
Labels: julia :purple_heart: :heart: :green_heart:

#3859 [libunwind] Add a separate builder for v1.3.2
  L/LibUnwind/LibUnwind@1.3.2/build_tarballs.jl
  L/LibUnwind/LibUnwind@1.3.2/bundled/patches/libunwind-cfa-rsp.patch
  L/LibUnwind/LibUnwind@1.3.2/bundled/patches/libunwind-configure-ppc64le.patch
  L/LibUnwind/LibUnwind@1.3.2/bundled/patches/libunwind-configure-static-lzma.patch
  L/LibUnwind/LibUnwind@1.3.2/bundled/patches/libunwind-dwarf-table.patch
  L/LibUnwind/LibUnwind@1.3.2/bundled/patches/libunwind-prefer-extbl.patch
  L/LibUnwind/LibUnwind@1.3.2/bundled/patches/libunwind-static-arm.patch
Labels: julia :purple_heart: :heart: :green_heart:

#3864 Update NEO to v21.44.21506.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#3874 Upgrade CUTENSOR to v1.3.3.
  C/CUTENSOR/build_10.2.jl
  C/CUTENSOR/build_11.0.jl
  C/CUTENSOR/build_11.5.jl
  C/CUTENSOR/build_11.jl
  C/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:

#3910 Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#3220 [LLVM_full@11.0.1] Add LLVM AArch64 unwind patches
  L/LLVM/LLVM_full@11.0.1/bundled/patches/0708-Do-not-patch-FDE-symbols-on-AArch64.patch
  L/LLVM/LLVM_full@11.0.1/bundled/patches/0709-Force-.eh_frame-emission-on-AArch64.patch
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:

#3922 [AZP] Update BinaryBuilderBase
  .ci/Manifest.toml
Labels: meta :deciduous_tree:

#3944 Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#3973 Update CUDA to 11.5 Update 1.
  C/CUDA/CUDA_full@11.5/build_tarballs.jl
Labels: cuda :joystick:

#3975 Update CUDA to 11.5 Update 1 (bis).
  C/CUDA/CUDA@11.5/build_tarballs.jl
  C/CUDA/CUDA_loader/build_11.5.jl
Labels: cuda :joystick:
