Repository JuliaPackaging/Yggdrasil, pull requests merged in 2021-06, with the labels that each got.

#3087 Bump CUDA JLLs to 11.3.1.
  C/CUDA/CUDA@11.3/build_tarballs.jl
  C/CUDA/CUDA_loader/build_11.3.jl
  C/CUDA/CUDA_loader/build_tarballs.jl
Labels: cuda :joystick:

#3197 [AZP] Update BinaryBuilder and BinaryBuilderBase
  .ci/Manifest.toml
Labels: meta :deciduous_tree:

#3204 Bump Lua to v5.4.3
  L/Lua/build_tarballs.jl
  L/Lua/bundled/patches/src_Makefile.patch
Labels: Lua :moon:

#3219 [LibCURL] Enable versioned symbols
  L/LibCURL/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#3215 add LLVMExtra protoype
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#3221 [LLVM_full@12] Add LLVM AArch64 unwind patches
  .ci/Manifest.toml
  L/LLVM/LLVM_full@12.0.0/build_tarballs.jl
  L/LLVM/LLVM_full@12.0.0/bundled/patches/0708-Do-not-patch-FDE-symbols-on-AArch64.patch
  L/LLVM/LLVM_full@12.0.0/bundled/patches/0709-Force-.eh_frame-emission-on-AArch64.patch
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:
