Repository JuliaPackaging/Yggdrasil, pull requests merged in 2022-11, with the labels that each got.

#5786 [oneAPI] Bump support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#5425 [Arrow] Another try at building Arrow
  A/Arrow/build_tarballs.jl
  A/Arrow/bundled/patches/cxxflags.patch
  A/Arrow/bundled/patches/thrift.patch
  A/Arrow/bundled/patches/toolchain.patch
Labels: long shot :bow_and_arrow:

#5912 Add stork recipe
  S/stork/build_tarballs.jl
Labels: rust :crab:

#5915 [0_RootFS] Upgrade Rust to v1.65 and downgrade Rustup
  0_RootFS/Rust/build_tarballs.jl
  0_RootFS/common.jl
Labels: BinaryBuilder :gear:, rust :crab:

#4896 [VegaFusion] Bump to 0.10.0
  V/VegaFusion/build_tarballs.jl
Labels: rust :crab:

#5918 Bump libuv.
  L/LibUV/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:
