Repository JuliaPackaging/Yggdrasil, pull requests merged in 2022-10, with the labels that each got.

#5646 [CUDA] Bump driver to 11.8.
  C/CUDA/CUDA_compat/build_tarballs.jl
Labels: cuda :joystick:

#5648 [CUDA] Bump CUDNN to 8.6.0.
  C/CUDNN/build_10.2.jl
  C/CUDNN/build_11.7.jl
  C/CUDNN/build_11.8.jl
  C/CUDNN/build_11.jl
  C/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#5649 [CUDA] Bump CUTENSOR to 1.6.1.5.
  C/CUTENSOR/build_11.7.jl
  C/CUTENSOR/build_11.8.jl
  C/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:

#5650 Bump Python to 3.10.7, and improve the recipe.
  P/Python/build_tarballs.jl
  P/Python/bundled/patches/libcrypt.patch
Labels: Python :snake:

#5653 [CUDA] Upgrade cuQuantum to v22.07.1.14
  C/cuQuantum/build_tarballs.jl
Labels: cuda :joystick:

#5659 [CUDA] Fix dont_dlopen for CUDA_compat_jll.
  C/CUDA/CUDA_compat/build_tarballs.jl
Labels: cuda :joystick:

#5664 [CUDA] Rename CUDA_compat to CUDA_Driver; add version to JLL.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#5665 [CUDA] Rework CUDA_Runtime_jll.
  C/CUDA/CUDA_Runtime/build_11.0.jl
  C/CUDA/CUDA_Runtime/build_11.1.jl
  C/CUDA/CUDA_Runtime/build_11.2.jl
  C/CUDA/CUDA_Runtime/build_11.3.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#5675 [CUDA] Add compat entry for CUDA_Driver.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#5676 [dev] Ensure environment/dependencies pre-initialized
  .devcontainer/devcontainer.json
Labels: meta :deciduous_tree:

#4344 [NetCDFF] Update to v4.6.0 and link to NetCDF v4.9
  N/NetCDFF/build_tarballs.jl
Labels: Windows 🙄

#5690 make libunwind substantially faster
  L/LibUnwind/LibUnwind@1.5.0/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#5692 [CUDA] Inline CUDA_Driver.jl into CUDA_Driver_jll._
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#5693 [CUDA] Update CUDA_Runtime_jll to depend on CUDA_Driver_jll.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#5695 [CUDA] Save the driver version discovered during init.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#5698 [CUDA] Support setting runtime version via preferences.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#5699 [CUDA] Make CUDNN_jll depend on CUDA_Runtime_jll.
  C/CUDNN/build_11.0.jl
  C/CUDNN/build_11.1.jl
  C/CUDNN/build_11.2.jl
  C/CUDNN/build_11.3.jl
  C/CUDNN/build_11.4.jl
  C/CUDNN/build_11.5.jl
  C/CUDNN/build_11.6.jl
  C/CUDNN/build_11.7.jl
  C/CUDNN/build_11.8.jl
  C/CUDNN/build_11.jl
  C/CUDNN/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#5702 [CUDA] Add back support for CUDA 10.2.
  C/CUDA/CUDA_Runtime/build_10.2.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#5705 [CUDNN] Fix Julia compat.
  C/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#5709 [CUDA] Fix comparison strategy in case of missing CUDA.
  platforms/cuda.jl
Labels: cuda :joystick:

#5712 [CUDA] Support loading a runtime artifact without a driver when we have a preference.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#5701 [CUDA] Update CUTENSOR to use CUDA_Runtime_jll.
  .ci/Manifest.toml
  C/CUTENSOR/build_11.0.jl
  C/CUTENSOR/build_11.1.jl
  C/CUTENSOR/build_11.2.jl
  C/CUTENSOR/build_11.3.jl
  C/CUTENSOR/build_11.4.jl
  C/CUTENSOR/build_11.5.jl
  C/CUTENSOR/build_11.6.jl
  C/CUTENSOR/build_11.7.jl
  C/CUTENSOR/build_11.8.jl
  C/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:

#5715 [CUDA] Update cuQuantum to use CUDA_Runtime_jll.
  C/cuQuantum/build_tarballs.jl
Labels: cuda :joystick:

#5716 [CUDA] Bump NCCL and have it depend on CUDA_Runtime_jll.
  N/NCCL/build_10.2.jl
  N/NCCL/build_11.0.jl
  N/NCCL/build_11.6.jl
  N/NCCL/build_11.8.jl
  N/NCCL/build_tarballs.jl
Labels: cuda :joystick:

#5717 [CUDA] Bump CUTENSOR to v1.6.1.5.
  C/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:

#5718 [CUDA] Bump cuQuantum to v22.07.1.14.
  C/cuQuantum/build_tarballs.jl
Labels: cuda :joystick:

#5722 [CUDA] Introduce cuda=local platform tag for local discovery.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#5724 [CUDA] Fix runtime JLL recompilation on preference change.
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#5732 [CUDA] Include profiler API component in 11.8.
  C/CUDA/CUDA_full@11.8/build_tarballs.jl
Labels: cuda :joystick:

#5731 [CUDA] Remove old recipes.
  C/CUDA/CUDA@10.0/build_tarballs.jl
  C/CUDA/CUDA@10.1/build_tarballs.jl
  C/CUDA/CUDA@10.2/build_tarballs.jl
  C/CUDA/CUDA@11.0/build_tarballs.jl
  C/CUDA/CUDA@11.1/build_tarballs.jl
  C/CUDA/CUDA@11.2/build_tarballs.jl
  C/CUDA/CUDA@11.3/build_tarballs.jl
  C/CUDA/CUDA@11.4/build_tarballs.jl
  C/CUDA/CUDA@11.5/build_tarballs.jl
  C/CUDA/CUDA@11.6/build_tarballs.jl
  C/CUDA/CUDA@11.7/build_tarballs.jl
  C/CUDA/CUDA@11.8/build_tarballs.jl
  C/CUDA/CUDA@9.0/build_tarballs.jl
  C/CUDA/CUDA@9.2/build_tarballs.jl
  C/CUDA/CUDA_loader/build_10.0.jl
  C/CUDA/CUDA_loader/build_10.1.jl
  C/CUDA/CUDA_loader/build_10.2.jl
  C/CUDA/CUDA_loader/build_11.0.jl
  C/CUDA/CUDA_loader/build_11.1.jl
  C/CUDA/CUDA_loader/build_11.2.jl
  C/CUDA/CUDA_loader/build_11.3.jl
  C/CUDA/CUDA_loader/build_11.4.jl
  C/CUDA/CUDA_loader/build_11.5.jl
  C/CUDA/CUDA_loader/build_11.6.jl
  C/CUDA/CUDA_loader/build_11.7.jl
  C/CUDA/CUDA_loader/build_11.8.jl
  C/CUDA/CUDA_loader/build_9.0.jl
  C/CUDA/CUDA_loader/build_9.2.jl
  C/CUDA/CUDA_loader/build_tarballs.jl
Labels: cuda :joystick:

#5737 Update SuiteSparse GPU build.
  S/SuiteSparse/SuiteSparse_GPU/build_tarballs.jl
Labels: cuda :joystick:

#5738 [oneAPI] Do dlopen the support library during init.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#5740 [oneAPI] Enable the auditor for the support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#5751 [CUDA] Fix platform augmentation when CUDA_Driver_jll isn't available.
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#5754 [LibGit2] Update to v1.4.4
  L/LibGit2/build_tarballs.jl
  L/LibGit2/bundled/patches/libgit2-win32-ownership.patch
Labels: julia :purple_heart: :heart: :green_heart:

#5761 [0_RootFS] Always disable TLS when building GCC for Windows
  0_RootFS/common.jl
  0_RootFS/gcc_common.jl
Labels: BinaryBuilder :gear:

#5764 [hyperfine] Add recipe
  H/hyperfine/build_tarballs.jl
Labels: rust :crab:
