Repository JuliaPackaging/Yggdrasil, pull requests merged in 2022-09, with the labels that each got.

#5412 [rcodesign] Add builder
  R/rcodesign/build_tarballs.jl
Labels: rust :crab:

#5413 [sccache] Add builder
  S/sccache/build_tarballs.jl
Labels: rust :crab:

#5414 [OpenBLAS] Update to v0.3.21
  O/OpenBLAS/OpenBLAS32@0.3.21/build_tarballs.jl
  O/OpenBLAS/OpenBLAS32@0.3.21/bundled/patches/0001-Fix-building-tests-when-NOFORTRAN-is-not-given-at-al.patch
  O/OpenBLAS/OpenBLAS32@0.3.21/bundled/patches/neoverse-generic-kernels.patch
  O/OpenBLAS/OpenBLAS32@0.3.21/bundled/patches/openblas-ofast-power.patch
  O/OpenBLAS/OpenBLAS32@0.3.21/bundled/patches/openblas-winexit.patch
  O/OpenBLAS/OpenBLAS@0.3.21/build_tarballs.jl
  O/OpenBLAS/OpenBLAS@0.3.21/bundled/patches/0001-Fix-building-tests-when-NOFORTRAN-is-not-given-at-al.patch
  O/OpenBLAS/OpenBLAS@0.3.21/bundled/patches/neoverse-generic-kernels.patch
  O/OpenBLAS/OpenBLAS@0.3.21/bundled/patches/openblas-ofast-power.patch
  O/OpenBLAS/OpenBLAS@0.3.21/bundled/patches/openblas-winexit.patch
  O/OpenBLAS/common.jl
Labels: julia :purple_heart: :heart: :green_heart:, linear algebra :1234:

#5343 Build LLVM 14.0.6 and MSAN
  L/LLVM/LLVM_full@14/build_tarballs.jl
  L/LLVM/LLVM_full@14/bundled/libcxx_patches/7005_libcxx_musl.patch
  L/LLVM/LLVM_full@14/bundled/patches/0050-unique_function_clang-sa.patch
  L/LLVM/LLVM_full@14/bundled/patches/0100-llvm-12-musl-bb.patch
  L/LLVM/LLVM_full@14/bundled/patches/0100-revert-sdk-requirement-tsan.patch
  L/LLVM/LLVM_full@14/bundled/patches/0101-fix-darwin-tsan-on-old-sdks.patch
  L/LLVM/LLVM_full@14/bundled/patches/0101-llvm-12-musl-bb-32.patch
  L/LLVM/LLVM_full@14/bundled/patches/0702-apple-codesign.patch
  L/LLVM/LLVM_full@14/bundled/patches/0703-apple-10..12.patch
  L/LLVM/LLVM_full_assert@14/build_tarballs.jl
  L/LLVM/LLVM_full_assert@14/bundled
  L/LLVM/common.jl
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:

#5448 Add recipe for oneAPI.jl's support library.
  O/oneAPI_Support/build_tarball.jl
Labels: oneAPI :one:

#5450 Bump oneAPI Level Zero headers to v1.4.8.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Headers/build_tarballs.jl
Labels: oneAPI :one:

#5449 Bump libigc to 1.0.11702.1.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#5451 Bump oneAPI Level Zero loader to v1.8.5.
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/bundled/patches/musl-no-deepbind.patch
Labels: oneAPI :one:

#5452 Fix oneAPI_Support recipe.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#5453 Bump NEO to v22.35.24055.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#5472 Bump oneAPI support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#5473 Improvements to oneAPI support library
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#5489 Backport Python 3.11 patch to avoid linking against libcrypt.
  P/Python/build_tarballs.jl
  P/Python/bundled/patches/libcrypt.patch
Labels: Python :snake:

#5510 Bump libuv.
  L/LibUV/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#5534 Bump libuv.
  L/LibUV/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#5541 Use squashfs_tools_jll for Rust `mksquashfs` call
  .ci/Manifest.toml
  .ci/Project.toml
  .devcontainer/Dockerfile
  0_RootFS/common.jl
Labels: BinaryBuilder :gear:, rust :crab:

#5527 [Rust] Bump to Rust v1.64.0
  0_RootFS/Rust/build_tarballs.jl
Labels: BinaryBuilder :gear:, rust :crab:

#5577 Revert "[CI] Update manifest"
  .ci/Manifest.toml
Labels: meta :deciduous_tree:
