Repository JuliaPackaging/Yggdrasil, pull requests merged in 2022-05, with the labels that each got.

#4849 Update Luna to v0.26.2
  L/Luna/build_tarballs.jl
  L/Luna/bundled/patches/fix_it.patch
Labels: Science :woman_scientist:

#4666 CUDA_full: Fix missing thrust library
  C/CUDA/CUDA_full@10.2/build_tarballs.jl
  C/CUDA/CUDA_full@11.3/build_tarballs.jl
  C/CUDA/CUDA_full@11.4/build_tarballs.jl
  C/CUDA/CUDA_full@11.5/build_tarballs.jl
  C/CUDA/CUDA_full@11.6/build_tarballs.jl
Labels: cuda :joystick:

#4890 Bump LLVMExtra
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#4900 Update CUDA_compat to 11.7.
  C/CUDA/CUDA_compat/build_tarballs.jl
Labels: cuda :joystick:

#4899 Update CUDA 11.4 (full).
  C/CUDA/CUDA_full@11.4/build_tarballs.jl
Labels: cuda :joystick:

#4898 Update CUDA 11.5 (full).
  C/CUDA/CUDA_full@11.5/build_tarballs.jl
Labels: cuda :joystick:

#4902 Update CUDA 11.6 (full).
  C/CUDA/CUDA_full@11.6/build_tarballs.jl
Labels: cuda :joystick:

#4904 Update CUDA 11.5.
  C/CUDA/CUDA@11.5/build_tarballs.jl
Labels: cuda :joystick:

#4905 Update CUDA 11.6.
  C/CUDA/CUDA@11.6/build_tarballs.jl
Labels: cuda :joystick:

#4906 Update CUDA 11.7.
  C/CUDA/CUDA@11.7/build_tarballs.jl
Labels: cuda :joystick:

#4927 [nghttp2] Update to v1.47.0
  N/nghttp2/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#4930 Upgrade libgit2 to 1.4.3
  L/LibGit2/build_tarballs.jl
  L/LibGit2/bundled/patches/libgit2-hostkey.patch
Labels: julia :purple_heart: :heart: :green_heart:

#4931 [LibGit2] Explicitly request SSH support
  L/LibGit2/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:
