Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-12, with the labels that each got.

#7623 CUDA: Restore v10.2
  C/CUDA/CUDA_SDK@10.2/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@10.2/build_tarballs.jl
  C/CUDA/common_10.2.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#7842 [CUDA] Fix platform script to not overwrite const variable
  platforms/cuda.jl
Labels: bug 🐛, cuda :joystick:

#7861 [CI] Increase timeout of build jobs to 4 hours
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
Labels: meta :deciduous_tree:, ci
