Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-08, with the labels that each got.

#7133 Rebuild GMP, libgit2, and libcurl
  G/GMP/GMP@6.2.1/build_tarballs.jl
  L/LibCURL/LibCURL@8/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#7172 Rebuild libLLVM, MPFR, and SuiteSparse
  L/LLVM/libLLVM@15/build_tarballs.jl
  M/MPFR/build_tarballs.jl
  S/SuiteSparse/SuiteSparse@7/build_tarballs.jl
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:

#7198 CUDA: Add full JLL for 12.2.
  C/CUDA/CUDA_full@12.2/build_tarballs.jl
Labels: cuda :joystick:

#7200 CUDA: Add compatibility driver from 12.2.1.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#7205 CUDA: Bump driver compatibility of runtime package.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#7206 CUDA: Eagerly dlopen libraries libcuda may require.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#7207 CUDA: Fix typo in driver init script.
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#7208 CUDA: Reland driver hotfix.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#7213 CUDA: Re-build runtime JLL using redist sources.
  .ci/Project.toml
  C/CUDA/CUDA_Runtime/build_11.0.jl
  C/CUDA/CUDA_Runtime/build_11.1.jl
  C/CUDA/CUDA_Runtime/build_11.2.jl
  C/CUDA/CUDA_Runtime/build_11.3.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
  C/CUDA/CUDA_Runtime/build_12.1.jl
  C/CUDA/CUDA_Runtime/build_12.2.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/common.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#7217 CUDA: Re-build CUDNN JLL using redist sources.
  C/CUDA/CUDNN/build_tarballs.jl
  C/CUDA/CUDNN/redistrib.json
  C/CUDA/common.jl
  C/CUDNN/build_11.jl
  C/CUDNN/build_12.jl
  C/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#7218 CUDA: Re-build CUTENSOR JLL using redist sources.
  C/CUDA/CUTENSOR/build_tarballs.jl
  C/CUTENSOR/build_11.jl
  C/CUTENSOR/build_12.jl
  C/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:

#7219 CUDA: Re-build cuQuantum JLL using redist sources.
  C/CUDA/common.jl
  C/CUDA/cuQuantum/build_tarballs.jl
  C/cuQuantum/build_tarballs.jl
Labels: cuda :joystick:

#7221 CUDA: Re-build libNVVM JLL using redist sources.
  C/CUDA/libNVVM/build_tarballs.jl
Labels: cuda :joystick:

#7246 CUDA: Make use of a local toolkit require a separate preference.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#7254 CUDA: Replace full JLL with SDK.
  C/CUDA/CUDA_SDK@12.2/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.2/build_tarballs.jl
  C/CUDA/CUDA_full@11.0/build_tarballs.jl
  C/CUDA/CUDA_full@11.1/build_tarballs.jl
  C/CUDA/CUDA_full@11.2/build_tarballs.jl
  C/CUDA/CUDA_full@11.3/build_tarballs.jl
  C/CUDA/CUDA_full@11.4/build_tarballs.jl
  C/CUDA/CUDA_full@11.5/build_tarballs.jl
  C/CUDA/CUDA_full@11.6/build_tarballs.jl
  C/CUDA/CUDA_full@11.7/build_tarballs.jl
  C/CUDA/CUDA_full@11.8/build_tarballs.jl
  C/CUDA/CUDA_full@12.0/build_tarballs.jl
  C/CUDA/CUDA_full@12.1/build_tarballs.jl
  C/CUDA/CUDA_full@12.2/build_tarballs.jl
  C/CUDA/common.jl
Labels: cuda :joystick:

#7261 CUDA: Add SDK JLLs for v12.1.
  C/CUDA/CUDA_SDK@12.1/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.1/build_tarballs.jl
Labels: cuda :joystick:

#7255 CUDA: Add SDK JLLs for v11.4.
  C/CUDA/CUDA_SDK@11.4/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.4/build_tarballs.jl
  C/CUDA/common.jl
Labels: cuda :joystick:

#7256 CUDA: Add SDK JLLs for v11.5.
  C/CUDA/CUDA_SDK@11.5/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.5/build_tarballs.jl
Labels: cuda :joystick:

#7257 CUDA: Add SDK JLLs for v11.6.
  C/CUDA/CUDA_SDK@11.6/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.6/build_tarballs.jl
Labels: cuda :joystick:

#7258 CUDA: Add SDK JLLs for v11.7.
  C/CUDA/CUDA_SDK@11.7/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.7/build_tarballs.jl
Labels: cuda :joystick:

#7259 CUDA: Add SDK JLLs for v11.8.
  C/CUDA/CUDA_SDK@11.8/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.8/build_tarballs.jl
Labels: cuda :joystick:

#7260 CUDA: Add SDK JLLs for v12.0.
  C/CUDA/CUDA_SDK@12.0/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.0/build_tarballs.jl
Labels: cuda :joystick:
