Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-05, with the labels that each got.

#6716 [LAPACK] Upgrade to v3.10.1 and require newer libblastrampoline
  L/LAPACK/LAPACK/build_tarballs.jl
  L/LAPACK/LAPACK32/build_tarballs.jl
  L/LAPACK/common.jl
Labels: linear algebra :1234:

#6747 oneAPI: Update SPIRV translator for LLVM 15.
  S/SPIRV_LLVM_Translator_unified/build_tarballs.jl
Labels: oneAPI :one:

#6774 [0_RootFS] Update Rust to v1.69
  0_RootFS/Rust/build_tarballs.jl
Labels: BinaryBuilder :gear:, rust :crab:

#6812 [rustfft] version 0.1.1
  R/rustfft/build_tarballs.jl
Labels: rust :crab:
