Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-02, with the labels that each got.

#6075 Create file `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: meta :deciduous_tree:

#6184 Bump CUDA_full_jll to v12.0.1.
  C/CUDA/CUDA_full@12.0/build_tarballs.jl
Labels: cuda :joystick:

#6191 Bump CUDA_Runtime_jll to v12.0.1.
  C/CUDA/CUDA_Runtime/build_12.0.jl
Labels: cuda :joystick:

#6187 [CUDA] make cuDriverGetVersion not fail if stub libcuda.so
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Driver/init.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#6198 CUDA: Fix platform augmentation.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#6072 Build LLVM 14.0.6-2
  L/LLVM/LLVM_full@14/build_tarballs.jl
  L/LLVM/LLVM_full_assert@14/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:

#6213 CUDA: Rebuild tarballs, remove NVTX and keep select static libraries.
  .buildkite/pipeline.yml
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
  C/CUDA/CUDA_full@10.0/build_tarballs.jl
  C/CUDA/CUDA_full@10.1/build_tarballs.jl
  C/CUDA/CUDA_full@10.2/build_tarballs.jl
  C/CUDA/CUDA_full@11.0/build_tarballs.jl
  C/CUDA/CUDA_full@11.1/build_tarballs.jl
  C/CUDA/CUDA_full@11.2/build_tarballs.jl
  C/CUDA/CUDA_full@11.3/build_tarballs.jl
  C/CUDA/CUDA_full@11.4/build_tarballs.jl
  C/CUDA/CUDA_full@11.5/build_tarballs.jl
  C/CUDA/CUDA_full@11.6/build_tarballs.jl
  C/CUDA/CUDA_full@11.7/build_tarballs.jl
  C/CUDA/CUDA_full@11.8/build_tarballs.jl
  C/CUDA/CUDA_full@12.0/build_tarballs.jl
  C/CUDA/CUDA_full@9.0/build_tarballs.jl
  C/CUDA/CUDA_full@9.2/build_tarballs.jl
Labels: cuda :joystick:

#6217 CUDA: Create and include compiler library, export cublasLt.
  C/CUDA/CUDA_Runtime/build_11.0.jl
  C/CUDA/CUDA_Runtime/build_11.1.jl
  C/CUDA/CUDA_Runtime/build_11.2.jl
  C/CUDA/CUDA_Runtime/build_11.3.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#6229 reorganize buildkite steps and remove jll_init
  .buildkite/generator.jl
  .buildkite/init.sh
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
  .ci/jll_init.jl
Labels: meta :deciduous_tree:, ci, buildkite

#6231 Ship dsymutil together with LLD
  L/LLVM/LLD@14/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:

#6242 Bump oneAPI loader to v1.8.12.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#6241 IGC: bump to v1.0.12812.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#6247 Bump NEO to v22.53.25242.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#6263 [CI] Do not install compress tools already available from JLLs
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
Labels: meta :deciduous_tree:

#6273 [OpenBLAS] Build for PowerPC with dynamic arch
  O/OpenBLAS/OpenBLAS@0.3.21/build_tarballs.jl
  O/OpenBLAS/common.jl
Labels: julia :purple_heart: :heart: :green_heart:, linear algebra :1234:

#6311 Recipe for jlrs-ledger
  J/JlrsLedger/build_tarballs.jl
Labels: rust :crab:
