Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-07, with the labels that each got.

#6990 oneAPI: Bump headers to v1.6.3.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Headers/build_tarballs.jl
Labels: oneAPI :one:

#6989 oneAPI: Bump IGC to 1.0.13822.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#6992 oneAPI: Bump loader to v1.11.0.
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#6996 oneAPI: Bump NEO to v23.17.26241.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#7013 Bump LLVMExtra
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#7072 Bump LLVM to 15.0.7+6.
  L/LLVM/LLVM_full@15/build_tarballs.jl
  L/LLVM/LLVM_full_assert@15/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:

#7076 Rebuild LLVM packages.
  L/LLVM/libLLVM@15/build_tarballs.jl
Labels: LLVM :dragon:

#7078 Rebuild LLVM packages.
  L/LLVM/Clang@15/build_tarballs.jl
  L/LLVM/LLD@15/build_tarballs.jl
  L/LLVM/LLVM@15/build_tarballs.jl
  L/LLVM/MLIR@15/build_tarballs.jl
Labels: LLVM :dragon:

#7080 Bump LLVM to include yet another patch.
  L/LLVM/LLVM_full@15/build_tarballs.jl
  L/LLVM/LLVM_full_assert@15/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:

#7086 Rebuild libLLVM.
  L/LLVM/libLLVM@15/build_tarballs.jl
Labels: LLVM :dragon:

#7092 Rebuild LLVM packages.
  L/LLVM/Clang@15/build_tarballs.jl
  L/LLVM/LLD@15/build_tarballs.jl
  L/LLVM/LLVM@15/build_tarballs.jl
  L/LLVM/MLIR@15/build_tarballs.jl
Labels: LLVM :dragon:

#7121 Trigger new builds for openlibm, libuv, and mbedtls
  L/LibUV/build_tarballs.jl
  M/MbedTLS/MbedTLS@2.28.2/build_tarballs.jl
  O/OpenLibm/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#7125 Rebuild dSFMT and p7zip
  D/dSFMT/build_tarballs.jl
  P/p7zip/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#6709 Define CUDA.supported_platforms and required_dependencies
  A/AMGX/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_11.0.jl
  C/CUDA/CUDA_Runtime/build_11.1.jl
  C/CUDA/CUDA_Runtime/build_11.2.jl
  C/CUDA/CUDA_Runtime/build_11.3.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
  C/CUDA/CUDA_Runtime/build_12.1.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime@0.2/build_10.2.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.0.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.1.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.2.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.3.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.4.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.5.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.6.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.7.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.8.jl
  C/CUDA/CUDA_Runtime@0.2/build_tarballs.jl
  C/CUDA/CUDA_Runtime@0.2/platform_augmentation.jl
  E/Extrae/build_tarballs.jl
  L/Libxc/Libxc_GPU/build_tarballs.jl
  M/MAGMA/build_tarballs.jl
  P/PAPI/build_tarballs.jl
  S/SCS_GPU/build_tarballs.jl
  S/SuiteSparse/SuiteSparse_GPU@5/build_tarballs.jl
  U/UCX/build_tarballs.jl
  X/XGBoost/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#7129 Rebuild zlib, nghttp2, and libssh2
  L/LibSSH2/build_tarballs.jl
  N/nghttp2/build_tarballs.jl
  Z/Zlib/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#7134 Rebuild LLVM_full@15 and LLVM_full_assert@15
  L/LLVM/LLVM_full@15/build_tarballs.jl
  L/LLVM/LLVM_full_assert@15/build_tarballs.jl
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:
