Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-11, with the labels that each got.

#7640 [oneAPI_Support_Headers] add recipe
  O/oneAPI_Support_Headers/build_tarballs.jl
Labels: oneAPI :one:

#7680 [LLVMExtra] Retrigger build to update stdlib compats
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#7674 [OpenBLAS] Upgrade to v0.3.25
  O/OpenBLAS/OpenBLAS32@0.3.25/build_tarballs.jl
  O/OpenBLAS/OpenBLAS32@0.3.25/bundled/patches/10-neoverse-generic-kernels.patch
  O/OpenBLAS/OpenBLAS32@0.3.25/bundled/patches/20-Fix-older-version-of-gcc-missing-__has_builtin-cpuid.patch
  O/OpenBLAS/OpenBLAS32@0.3.25/bundled/patches/30-openblas-ofast-power.patch
  O/OpenBLAS/OpenBLAS32@0.3.25/bundled/patches/50-openblas-winexit.patch
  O/OpenBLAS/OpenBLAS@0.3.25/build_tarballs.jl
  O/OpenBLAS/OpenBLAS@0.3.25/bundled/patches/10-neoverse-generic-kernels.patch
  O/OpenBLAS/OpenBLAS@0.3.25/bundled/patches/20-Fix-older-version-of-gcc-missing-__has_builtin-cpuid.patch
  O/OpenBLAS/OpenBLAS@0.3.25/bundled/patches/30-openblas-ofast-power.patch
  O/OpenBLAS/OpenBLAS@0.3.25/bundled/patches/50-openblas-winexit.patch
  O/OpenBLAS/common.jl
Labels: julia :purple_heart: :heart: :green_heart:, linear algebra :1234:

#7688 [oneAPI_Support_Headers] Version 2023.0.0
  O/oneAPI_Support_Headers/build_tarballs.jl
Labels: oneAPI :one:

#7690 [oneAPI_Support_Headers] Version 2023.2.0
  O/oneAPI_Support_Headers/build_tarballs.jl
Labels: oneAPI :one:

#7707 CUDA: upgrade runtime to 12.3 Update 1
  C/CUDA/CUDA_Runtime/build_12.3.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#7708 [CUDA] Add a receipt for cuDSS
  C/CUDA/CUDSS/build_tarballs.jl
Labels: cuda :joystick:

#7716 CUDA: Bump CUTENSOR to v2.0
  C/CUDA/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:
