Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-01, with the labels that each got.

#6101 Bump gmmlib to v22.3.0.
  G/gmmlib/build_tarballs.jl
Labels: oneAPI :one:

#6103 Bump oneAPI loader to v1.8.8.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#6104 Bump IGC to v1.0.12504.5.
  .buildkite/pipeline.yml
  .buildkite/pipeline.yml.signature
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#6108 Bump NEO to v22.43.24595.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#6015 CUDA: Add initial recipe for CUDA 12.0.
  C/CUDA/CUDA_full@12.0/build_tarballs.jl
Labels: cuda :joystick:

#6117 Bump CUDA_full_jll@12 again
  C/CUDA/CUDA_full@12.0/build_tarballs.jl
Labels: cuda :joystick:

#6119 Update CUDA_Driver for CUDA 12.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#6128 CUDA 12: include libnvjitlink.
  C/CUDA/CUDA_full@12.0/build_tarballs.jl
Labels: cuda :joystick:

#6133 Bump the register timeout for CUDA_Runtime_jll.
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#6148 [Dust] Add new package
  D/Dust/build_tarballs.jl
Labels: rust :crab:

#6146 oneAPI: Bump support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#6155 CUDA: Remove support for v10.2.
  C/CUDA/CUDA_Runtime/build_10.2.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:
