Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-09, with the labels that each got.

#7274 CUDA: Update driver to 535.104.05.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#7275 CUDA: Update runtime to 12.2 Update 2.
  C/CUDA/CUDA_Runtime/build_12.2.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#7285 Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#7287 LLVM: Bump LLVMExtra
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#7292 Don't allow more than 12 builds per project
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
Labels: meta :deciduous_tree:

#7230 [libpolars] Add libpolars
  L/libpolars/build_tarballs.jl
Labels: rust :crab:

#6862 [Luna] Update to v0.28.0
  L/Luna/build_tarballs.jl
  L/Luna/bundled/patches/fix_it.patch
Labels: Science :woman_scientist:

#7338 CUDA: Add backwards-compatible support for old runtime preferences.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#7393 CUDA: Bump 12.2 SDKs.
  C/CUDA/CUDA_SDK@12.2/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.2/build_tarballs.jl
  C/CUDA/common.jl
Labels: cuda :joystick:

#7400 CUDA: Bump 12.1 SDKs.
  C/CUDA/CUDA_SDK@12.1/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.1/build_tarballs.jl
Labels: cuda :joystick:

#7397 CUDA: Bump 12.0 SDKs.
  C/CUDA/CUDA_SDK@12.0/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.0/build_tarballs.jl
Labels: cuda :joystick:

#7398 CUDA: Bump 11.8 SDKs.
  C/CUDA/CUDA_SDK@11.8/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.8/build_tarballs.jl
Labels: cuda :joystick:

#7399 CUDA: Bump 11.7 SDKs.
  C/CUDA/CUDA_SDK@11.7/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.7/build_tarballs.jl
Labels: cuda :joystick:

#7396 CUDA: Bump 11.6 SDKs.
  C/CUDA/CUDA_SDK@11.6/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.6/build_tarballs.jl
Labels: cuda :joystick:

#7395 CUDA: Bump 11.5 SDKs.
  C/CUDA/CUDA_SDK@11.5/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.5/build_tarballs.jl
Labels: cuda :joystick:

#6843 [libunwind] Add libunwind v1.7.2
  L/LibUnwind/LibUnwind@1.7.2/build_tarballs.jl
  L/LibUnwind/LibUnwind@1.7.2/bundled/patches/libunwind-configure-static-lzma.patch
  L/LibUnwind/LibUnwind@1.7.2/bundled/patches/linux-disentangle_sigcontext.patch
Labels: julia :purple_heart: :heart: :green_heart:

#7449 Update mingw runtime to 11.0.1
  0_RootFS/GCCBootstrap@10/bundled/patches/gcc520-libgomp-Don-t-hard-code-MS-printf-attributes.patch
  0_RootFS/GCCBootstrap@10/bundled/patches/gcc9_vsnprintf-str.patch
  0_RootFS/GCCBootstrap@5/bundled/patches/gcc520-libgomp-Don-t-hard-code-MS-printf-attributes.patch
  0_RootFS/GCCBootstrap@6/bundled/patches/gcc520-libgomp-Don-t-hard-code-MS-printf-attributes.patch
  0_RootFS/GCCBootstrap@7/bundled/patches/gcc520-libgomp-Don-t-hard-code-MS-printf-attributes.patch
  0_RootFS/GCCBootstrap@8/bundled/patches/gcc520-libgomp-Don-t-hard-code-MS-printf-attributes.patch
  0_RootFS/GCCBootstrap@9/bundled/patches/gcc520-libgomp-Don-t-hard-code-MS-printf-attributes.patch
  0_RootFS/GCCBootstrap@9/bundled/patches/gcc9_vsnprintf-str.patch
  0_RootFS/gcc_common.jl
  0_RootFS/gcc_sources.jl
Labels: BinaryBuilder :gear:

#7452 Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:
