Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-10, with the labels that each got.

#7466 libunwind: revert problematic patch on all platforms
  L/LibUnwind/LibUnwind@1.7.2/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:

#7514 CUDA_Runtime: Add an include dependency on the driver.
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#7519 [LibCURL] Update to v8.4.0
  L/LibCURL/LibCURL@8/build_tarballs.jl
  L/LibCURL/common.jl
Labels: julia :purple_heart: :heart: :green_heart:

#7524 [0_RootFS] Update Rust to v1.73.0
  0_RootFS/Rust/build_tarballs.jl
Labels: BinaryBuilder :gear:, rust :crab:

#6777 [LLVM_full] Build version 16
  L/LLVM/LLVM_full@16/build_tarballs.jl
  L/LLVM/LLVM_full@16/bundled/libcxx_patches/7005_libcxx_musl.patch
  L/LLVM/LLVM_full@16/bundled/patches/0001-Disable-tblgen-lsp-server.patch
  L/LLVM/LLVM_full@16/bundled/patches/0050-unique_function_clang-sa.patch
  L/LLVM/LLVM_full@16/bundled/patches/0100-llvm-12-musl-bb.patch
  L/LLVM/LLVM_full@16/bundled/patches/0123-cast-allequal.patch
  L/LLVM/LLVM_full@16/bundled/patches/0200-templates.patch
  L/LLVM/LLVM_full@16/bundled/patches/0704-no-codesign.patch
  L/LLVM/LLVM_full_assert@16/build_tarballs.jl
  L/LLVM/LLVM_full_assert@16/bundled
  L/LLVM/common.jl
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:

#7542 CUDA: Add a preference to disallow loading the compat driver.
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#7544 oneAPI: Bump API headers to v1.7.0.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Headers/build_tarballs.jl
Labels: oneAPI :one:

#7546 oneAPI: Bump API loader to v1.13.1.
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#7543 Support actual bools for boolean preferences.
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
  L/libigc/build_tarballs.jl
  N/NEO/build_tarballs.jl
Labels: cuda :joystick:, oneAPI :one:

#7545 oneAPI: Bump libigc to 1.0.14828.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#7548 oneAPI: Bump NEO to 23.30.26918.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#7550 oneAPI: Fix typo in platform augmentations.
  L/libigc/build_tarballs.jl
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#7553 [platforms] Add CUDA_SDK_static as an optional dependency in the generator
  platforms/cuda.jl
Labels: cuda :joystick:

#7554 oneAPI: Revert NEO bump, but enable PVC support.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#7232 [Typst] Update to v0.7.0
  T/Typst/build_tarballs.jl
Labels: rust :crab:

#7562 CUDA: When using a local toolkit, don't perform version checks.
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
Labels: cuda :joystick:

#7563 oneAPI: Also rebuild 1.0.13822 with fixed augmentation.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#7564 CUDA: Update JLLs to 12.3.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_12.3.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.3/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.3/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#7565 CUDA: Update driver compatibility.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#7533 Build libLLVMExtra for LLVM v16
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#7583 oneAPI: Default to non-debug artifacts.
  L/libigc/build_tarballs.jl
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#7584 oneAPI: Bump JLLs again.
  L/libigc/build_tarballs.jl
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:
