Repository JuliaPackaging/Yggdrasil, pull requests merged in 2023-03, with the labels that each got.

#6327 Don't build tblgen-lsp when building llvm-15
  L/LLVM/LLVM_full@15/bundled/patches/0001-Disable-tblgen-lsp-server.patch
  L/LLVM/LLVM_full@15/bundled/patches/0801-Fix-MLIR-build-on-Windows.patch
Labels: LLVM :dragon:, julia :purple_heart: :heart: :green_heart:

#6375 CUDNN: Rebuild JLL.
  C/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#6377 CUDNN: Explicitly list (and thus dlopen) sublibraries to work around discoverability issues.
  C/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#6378 CUDA: Add build JLL for v12.1.
  C/CUDA/CUDA_full@12.1/build_tarballs.jl
Labels: cuda :joystick:

#6380 CUDA: Add driver for CUDA 12.1.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#6379 CUDA: Add/correct cublasLt entry in runtime JLL.
  C/CUDA/CUDA_Runtime/build_11.0.jl
  C/CUDA/CUDA_Runtime/build_11.1.jl
  C/CUDA/CUDA_Runtime/build_11.2.jl
  C/CUDA/CUDA_Runtime/build_11.3.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
Labels: cuda :joystick:

#6381 CUDNN: Bump to v8.8.1; add CUDA 12 build.
  C/CUDNN/build_10.2.jl
  C/CUDNN/build_11.jl
  C/CUDNN/build_12.jl
  C/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#6384 CUDA: Add runtime JLL for v12.1.
  C/CUDA/CUDA_Runtime/build_12.1.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#6401 [CI] Reduce depot size to 200 GiB
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
Labels: meta :deciduous_tree:

#6422 Revert "[CUDA_Driver] Initialize globals to nothing"
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#6431 Add back recipe for CUDA_Runtime_jll@0.2
  C/CUDA/CUDA_Runtime@0.2/build_10.2.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.0.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.1.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.2.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.3.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.4.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.5.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.6.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.7.jl
  C/CUDA/CUDA_Runtime@0.2/build_11.8.jl
  C/CUDA/CUDA_Runtime@0.2/build_tarballs.jl
  C/CUDA/CUDA_Runtime@0.2/platform_augmentation.jl
Labels: cuda :joystick:

#6447 Bump oneAPI Support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#6449 [CUDA_Driver] define libcuda as nothing
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#6453 Bump LLVMExtra
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#6464 [WolframAppDiscovery] v0.4.4
  W/WolframAppDiscovery/build_tarballs.jl
Labels: rust :crab:
