Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-08, with the labels that each got.

#9209 oneAPI: Bump gmmlib to v22.3.20.
  G/gmmlib/build_tarballs.jl
Labels: oneAPI :one:

#9210 oneAPI: Bump headers and loader to v1.17.6.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Headers/build_tarballs.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#9208 CUDA: Update to v12.6.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_12.6.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.6/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.6/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#9214 CUDA: Simplify driver initialization script.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#9215 CUDA: Bump driver compatibility of runtime JLL.
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#9218 LLVM: Bump LLVMExtra for LLVM 18.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#9234 [OpenBLAS] Update to v0.3.28
  O/OpenBLAS/OpenBLAS32@0.3.28/build_tarballs.jl
  O/OpenBLAS/OpenBLAS32@0.3.28/bundled/patches/10-disable-running-tests.patch
  O/OpenBLAS/OpenBLAS32@0.3.28/bundled/patches/30-openblas-ofast-power.patch
  O/OpenBLAS/OpenBLAS32@0.3.28/bundled/patches/50-openblas-winexit.patch
  O/OpenBLAS/OpenBLAS32@0.3.28/bundled/patches/70-Build-with-proper-aarch64-flags-on-Neoverse-Darwin.patch
  O/OpenBLAS/OpenBLAS@0.3.28/build_tarballs.jl
  O/OpenBLAS/OpenBLAS@0.3.28/bundled/patches/10-disable-running-tests.patch
  O/OpenBLAS/OpenBLAS@0.3.28/bundled/patches/30-openblas-ofast-power.patch
  O/OpenBLAS/OpenBLAS@0.3.28/bundled/patches/50-openblas-winexit.patch
  O/OpenBLAS/OpenBLAS@0.3.28/bundled/patches/70-Build-with-proper-aarch64-flags-on-Neoverse-Darwin.patch
  O/OpenBLAS/common.jl
Labels: julia :purple_heart: :heart: :green_heart:, linear algebra :1234:

#9296 LLVM: Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#9337 [LibUV] Includes a couple of backports from our fork
  L/LibUV/build_tarballs.jl
Labels: julia :purple_heart: :heart: :green_heart:
