Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-07, with the labels that each got.

#9020 [CUDSS] Upgrade to v0.3.0
  C/CUDA/CUDSS/build_tarballs.jl
Labels: cuda :joystick:

#9019 [CUDA] Upgrade to 12.5 Update 1
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_12.5.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.5/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.5/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#9025 CUDA: Make driver JLL's not use lazy artifacts.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#9094 oneAPI: Bump gmmlib to v22.3.19.
  G/gmmlib/build_tarballs.jl
Labels: oneAPI :one:

#9095 oneAPI: Bump IGC to v1.0.16695.4.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#9096 oneAPI: Bump NEO to v24.22.29735.20.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#4572 Add a unified Clang JLL using platform augmentation.
  L/LLVM/Clang_unified/build_tarballs.jl
Labels: LLVM :dragon:

#9147 Clang (unified JLL): Relax compat bounds of LLVM dependencies.
  L/LLVM/Clang_unified/build_tarballs.jl
Labels: LLVM :dragon:

#9149 LLVM: Bump unified Clang JLL
  L/LLVM/Clang_unified/build_tarballs.jl
Labels: LLVM :dragon:

#9153 LLVM: dlopen libraries in unified JLLs.
  L/LLVM/Clang_unified/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:

#9146 LLVM: Allow installation of LLVM_full on all Julia versions.
  L/LLVM/LLVM_full@12.0.0/build_tarballs.jl
  L/LLVM/LLVM_full@12.0.1/build_tarballs.jl
  L/LLVM/LLVM_full@13.0.1/build_tarballs.jl
  L/LLVM/LLVM_full@14.0.5/build_tarballs.jl
  L/LLVM/LLVM_full@14/build_tarballs.jl
  L/LLVM/LLVM_full@15/build_tarballs.jl
  L/LLVM/LLVM_full@16/build_tarballs.jl
  L/LLVM/LLVM_full@17/build_tarballs.jl
  L/LLVM/LLVM_full@18/build_tarballs.jl
  L/LLVM/LLVM_full_assert@11.0.1/build_tarballs.jl
  L/LLVM/LLVM_full_assert@12.0.0/build_tarballs.jl
  L/LLVM/LLVM_full_assert@12.0.1/build_tarballs.jl
  L/LLVM/LLVM_full_assert@13.0.1/build_tarballs.jl
  L/LLVM/LLVM_full_assert@14.0.5/build_tarballs.jl
  L/LLVM/LLVM_full_assert@14/build_tarballs.jl
  L/LLVM/LLVM_full_assert@15/build_tarballs.jl
  L/LLVM/LLVM_full_assert@16/build_tarballs.jl
  L/LLVM/LLVM_full_assert@17/build_tarballs.jl
  L/LLVM/LLVM_full_assert@18/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:

#9164 LLVM: Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#9162 Add compiler shards for LLVM 14, 15 and 17.
  .ci/Manifest.toml
  0_RootFS/LLVMBootstrap@14/build_tarballs.jl
  0_RootFS/LLVMBootstrap@14/bundled/patches/0002-llvm8_libcxx_musl.patch
  0_RootFS/LLVMBootstrap@14/bundled/patches/0010-add-musl-triples.patch
  0_RootFS/LLVMBootstrap@14/bundled/patches/0100-llvm-13-musl-bb.patch
  0_RootFS/LLVMBootstrap@15/build_tarballs.jl
  0_RootFS/LLVMBootstrap@15/bundled/0009-compiler-rt-build-crt-in-runtimes-build.patch
  0_RootFS/LLVMBootstrap@15/bundled/patches/0002-llvm8_libcxx_musl.patch
  0_RootFS/LLVMBootstrap@15/bundled/patches/0010-add-musl-triples.patch
  0_RootFS/LLVMBootstrap@15/bundled/patches/0100-llvm-13-musl-bb.patch
  0_RootFS/LLVMBootstrap@15/bundled/patches/install-prefix.patch
  0_RootFS/LLVMBootstrap@17/build_tarballs.jl
  0_RootFS/LLVMBootstrap@17/bundled/libcxx_patches/0002-llvm8_libcxx_musl.patch
  0_RootFS/LLVMBootstrap@17/bundled/patches/0004-enable-emutls-for-mingw.patch
  0_RootFS/LLVMBootstrap@17/bundled/patches/0010-add-musl-triples.patch
  0_RootFS/LLVMBootstrap@17/bundled/patches/0100-llvm-13-musl-bb.patch
  0_RootFS/LLVMBootstrap@17/bundled/patches/install-prefix.patch
  0_RootFS/LLVMBootstrap@17/bundled/patches/normalize-cmake-triple.patch
  0_RootFS/llvm_common.jl
Labels: LLVM :dragon:
