Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-10, with the labels that each got.

#9553 Fix infinite init loop for CUDA_Driver_jll
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#9564 [CUDA] Upgrade to 12.6 Update 2
  C/CUDA/CUDA_Runtime/build_12.6.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.6/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.6/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#9566 [Lua] Update to 5.4.7
  L/Lua/build_tarballs.jl
Labels: Lua :moon:

#9204 [LLVM] Add LLVM_full, LLVM_full_assert 19 recipes
  L/LLVM/LLVM_full@19/build_tarballs.jl
  L/LLVM/LLVM_full@19/bundled/libcxx_patches/7005_libcxx_musl.patch
  L/LLVM/LLVM_full@19/bundled/patches/0050-unique_function_clang-sa.patch
  L/LLVM/LLVM_full@19/bundled/patches/0100-llvm-12-musl-bb.patch
  L/LLVM/LLVM_full@19/bundled/patches/0200-templates.patch
  L/LLVM/LLVM_full@19/bundled/patches/0300-mingw-mlir-visibility-hidden.patch
  L/LLVM/LLVM_full@19/bundled/patches/0400-MLIR-Disable-tblgen-lsp-server-and-tblgen-to-irdl.patch
  L/LLVM/LLVM_full@19/bundled/patches/0704-no-codesign.patch
  L/LLVM/LLVM_full_assert@19/build_tarballs.jl
  L/LLVM/LLVM_full_assert@19/bundled
  L/LLVM/common.jl
Labels: LLVM :dragon:

#9627 oneAPI: Bump headers to v1.9.3.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Headers/build_tarballs.jl
Labels: oneAPI :one:

#9628 oneAPI: Bump gmmlib to v22.5.0.
  G/gmmlib/build_tarballs.jl
Labels: oneAPI :one:

#9630 oneAPI: Bump loader to v1.17.42.
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#9629 oneAPI: Bump IGC to v1.0.17537.20.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#9637 LLVM: Bump downgrader.
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:

#9644 [CI] Reduce parallelism for all packages with large number of artifacts
  .buildkite/README.md
  .buildkite/generator.jl
  .buildkite/pipeline.yml.signature
  .buildkite/utils.jl
Labels: ci

#9657 AMGX: Update to 2.4.0
  A/AMGX/build_tarballs.jl
  A/AMGX/bundled/patches/0001-Disable-NVTX-on-Linux-for-now.patch
  A/AMGX/bundled/patches/0001-Don-t-build-examples.patch
  A/AMGX/bundled/patches/0001-remove-O3-for-10-support.patch
  A/AMGX/bundled/patches/0002-don-t-build-tests-either.patch
Labels: cuda :joystick:
