Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-03, with the labels that each got.

#8205 [GCC] Add `libgomp` patch for NULL `environ` (v13.2.0)
  0_RootFS/GCCBootstrap@13/bundled/patches/gcc-libgomp-environ.patch
Labels: BinaryBuilder :gear:

#8240 [CUDA] Upgrade JLLs to v12.4
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_12.4.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.4/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.4/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#8245 Upgrade OneAPI_Support for support of SPARSE oneAPI
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#8261 CUDA: Update missing compat bound
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#8257 Wizard recipe: libzenohc-v0.10.1
  L/libzenohc/build_tarballs.jl
Labels: rust :crab:

#8290 CUDA: Bump CUTENSOR to v2.0.1.2.
  C/CUDA/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:

#8381 oneAPI: Bump Level Zero headers to v1.16.11.
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Headers/build_tarballs.jl
Labels: oneAPI :one:

#8382 oneAPI: Bump Level Zero loader to v1.16.11.
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#8379 oneAPI: Bump libigc to v1.0.16238.4.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#8383 oneAPI: Bump NEO to v24.09.28717.12.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#8387 oneAPI: Make sure the loader uses the correct tracing library.
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:
