Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-11, with the labels that each got.

#9756 [oneAPI_Support_Headers] Upgrade to v2025.0.0
  O/oneAPI_Support_Headers/build_tarballs.jl
Labels: oneAPI :one:

#9754 LLVM: Bump downgrader to v0.4.
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:

#9778 [CUDA_Runtime] Added omitted libraries for CUDA 10.2
  C/CUDA/CUDA_Runtime/build_10.2.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#9830 CUDA: Bump to 12.6 Update 3.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.6/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.6/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:
