Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-09, with the labels that each got.

#9446 CUDA: Bump to 12.6 Update 1.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_12.6.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.6/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.6/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#9449 CUDA: Prevent unintended dlopen by not using Libdl.find_libraries.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Driver/init.jl
Labels: cuda :joystick:

#9455 oneAPI: Bump support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#9470 [LLVM_full@18] Rebuild for FreeBSD AArch64 support
  L/LLVM/LLVM_full@18/build_tarballs.jl
  L/LLVM/LLVM_full_assert@18/build_tarballs.jl
Labels: LLVM :dragon:

#9484 Update LLVM_full and libLLVM versions for Clang, LLD, LLVM, and MLIR
  L/LLVM/Clang@18/build_tarballs.jl
  L/LLVM/LLD@18/build_tarballs.jl
  L/LLVM/LLVM@18/build_tarballs.jl
  L/LLVM/MLIR@18/build_tarballs.jl
Labels: LLVM :dragon:

#9517 CUDA: Update CUDNN to v9.4
  C/CUDA/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#9555 Install dependabot.yml
  .github/dependabot.yml
Labels: ci
