Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-05, with the labels that each got.

#8616 CUDA: Separate compiler bits from the runtime JLL.
  C/CUDA/CUDA_JIT/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_10.2.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
  C/CUDA/CUDA_Runtime/build_12.1.jl
  C/CUDA/CUDA_Runtime/build_12.2.jl
  C/CUDA/CUDA_Runtime/build_12.3.jl
  C/CUDA/CUDA_Runtime/build_12.4.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/libNVVM/build_tarballs.jl
Labels: cuda :joystick:

#8619 CUDA: Remove unused NVRTC from JIT JLL.
  C/CUDA/CUDA_JIT/build_tarballs.jl
Labels: cuda :joystick:

#8618 LLVM: Bump downgrader JLL.
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:

#8670 CUDA: Put the JIT bits back into the runtime.
  C/CUDA/CUDA_JIT/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_10.2.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
  C/CUDA/CUDA_Runtime/build_12.1.jl
  C/CUDA/CUDA_Runtime/build_12.2.jl
  C/CUDA/CUDA_Runtime/build_12.3.jl
  C/CUDA/CUDA_Runtime/build_12.4.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#8622 CUDA: Introduce arm64 subarchitecture.
  C/CUDA/CUDA_Runtime/build_10.2.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_Runtime/platform_augmentation.jl
  C/CUDA/CUDA_SDK@10.2/build_tarballs.jl
  C/CUDA/CUDA_SDK@11.4/build_tarballs.jl
  C/CUDA/CUDA_SDK@11.5/build_tarballs.jl
  C/CUDA/CUDA_SDK@11.6/build_tarballs.jl
  C/CUDA/CUDA_SDK@11.7/build_tarballs.jl
  C/CUDA/CUDA_SDK@11.8/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.0/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.1/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.2/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.3/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.4/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@10.2/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.4/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.5/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.6/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.7/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@11.8/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.0/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.1/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.2/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.3/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.4/build_tarballs.jl
  C/CUDA/common.jl
  C/CUDA/common_10.2.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#8678 oneAPI: Bump gmmlib to 22.3.18.
  G/gmmlib/build_tarballs.jl
Labels: oneAPI :one:

#8680 oneAPI: Bump IGC to 1.0.16510.
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#8681 oneAPI: Bump NEO to v24.13.29138.
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#8691 fix(cuda.jl): use Base.thisminor
  platforms/cuda.jl
Labels: cuda :joystick:

#8697 LLVM: Bump JLLs for LLVM 17 to include additional patch.
  L/LLVM/LLVM_full@17/build_tarballs.jl
  L/LLVM/LLVM_full_assert@17/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:

#8705 LLVM: Bump libLLVM 17 JLL to include additional patch.
  L/LLVM/libLLVM@17/build_tarballs.jl
Labels: LLVM :dragon:

#8715 LLVM: Rebuild remaining deps for consistent version numbering.
  L/LLVM/Clang@17/build_tarballs.jl
  L/LLVM/LLD@17/build_tarballs.jl
  L/LLVM/LLVM@17/build_tarballs.jl
  L/LLVM/MLIR@17/build_tarballs.jl
Labels: LLVM :dragon:

#8735 CUDA: Upgrade driver to v12.5.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#8736 CUDA: Update to CUDA 12.5.
  C/CUDA/CUDA_Runtime/build_12.5.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.5/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.5/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#8743 CUDA: Bump NVVM to CUDA 12.5.
  C/CUDA/libNVVM/build_tarballs.jl
Labels: cuda :joystick:

#8742 CUDA: Upgrade CUDNN.
  C/CUDA/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#8762 [CUDA] Regenerate CUDA_SDK
  C/CUDA/CUDA_SDK@12.5/build_tarballs.jl
Labels: cuda :joystick:

#8766 LLVM: Bump JLLs for LLVM 17 to include the CppInterOp patch.
  L/LLVM/LLVM_full@17/build_tarballs.jl
  L/LLVM/LLVM_full_assert@17/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:

#8626 [BLIS] Update to v1.0
  B/blis/blis/build_tarballs.jl
  B/blis/blis32/build_tarballs.jl
  B/blis/bundled/patches/a64fx_config_screen_sector_cache.patch
  B/blis/bundled/patches/armsve_kernels_unscreen_arm_sve_h.patch
  B/blis/bundled/patches/armsve_kernels_unscreen_armsve256_int_8x10.patch
  B/blis/bundled/patches/armsve_kernels_unscreen_armsve512_int_12xk.patch
  B/blis/bundled/patches/bli_macro_defs.h.f77suffix64.patch
  B/blis/common.jl
Labels: linear algebra :1234:

#8787 CUDA: Put NVRTC back in the runtime.
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
  C/CUDA/CUDA_Runtime/build_12.1.jl
  C/CUDA/CUDA_Runtime/build_12.2.jl
  C/CUDA/CUDA_Runtime/build_12.3.jl
  C/CUDA/CUDA_Runtime/build_12.4.jl
  C/CUDA/CUDA_Runtime/build_12.5.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#8807 LLVM: Bump downgrader.
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:
