Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-04, with the labels that each got.

#8398 Upgrade oneAPI_Support to v0.3.3
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#8415 [oneAPI_Support] Add missing dependencies
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#8412 [0_RootFS] Update Rust to v1.77.1
  0_RootFS/Rust/build_tarballs.jl
Labels: BinaryBuilder :gear:, rust :crab:

#8374 Rootfs: Update Meson to 1.4.0
  0_RootFS/Rootfs/build_tarballs.jl
Labels: BinaryBuilder :gear:

#8411 Update to Typst v0.11
  T/Typst/build_tarballs.jl
Labels: rust :crab:

#8210 Update CoverM to 0.7.0
  C/CoverM/build_tarballs.jl
Labels: rust :crab:

#8474 CUDA: Update to 12.4 Update 1.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_12.4.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  C/CUDA/CUDA_SDK@12.4/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.4/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#8482 oneAPI: Have the support library depend on OpenCL_jll.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#8484 oneAPI: Bump support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#8414 [libblastrampoline] Make using libblastrampoline easier from CMake
  L/libblastrampoline/build_tarballs.jl
  L/libblastrampoline/bundled/cmake/yggdrasilenv.cmake
Labels: enhancement 🔝, linear algebra :1234:

#8509 oneAPI: Bump support library.
  O/oneAPI_Support/build_tarballs.jl
Labels: oneAPI :one:

#8537 CUDA: Bump cuQuantum
  C/CUDA/cuQuantum/build_tarballs.jl
Labels: cuda :joystick:

#8566 CUDA: Revert lilbNVVM version number bump.
  C/CUDA/libNVVM/build_tarballs.jl
Labels: cuda :joystick:

#8569 LLVM: Build IR downgrader for all platforms.
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:
