Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-06, with the labels that each got.

#8858 LLVM: Bump downgrader to include opaque pointer support on LLVM 15-17
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:

#8862 LLVM: Bump downgrader JLL
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:

#7959 [libunwind] Add v1.8.1
  L/LibUnwind/LibUnwind@1.8.1/build_tarballs.jl
  L/LibUnwind/LibUnwind@1.8.1/bundled/patches/libunwind-aarch64-inline-asm.patch
  L/LibUnwind/LibUnwind@1.8.1/bundled/patches/libunwind-configure-static-lzma.patch
  L/LibUnwind/LibUnwind@1.8.1/bundled/patches/libunwind-revert_prelink_unwind.patch
  L/LibUnwind/LibUnwind@1.8.1/bundled/patches/linux-disentangle_sigcontext.patch
Labels: julia :purple_heart: :heart: :green_heart:

#8894 LLVM: Bump LLVMExtra
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#8940 Add builder for Wasmtime CLI and C API
  W/Wasmtime/build_tarballs.jl
Labels: rust :crab:
