Repository JuliaPackaging/Yggdrasil, pull requests merged in 2024-02, with the labels that each got.

#8093 LLVM: Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#8107 CUDNN: Upgrade to v9.0
  C/CUDA/CUDNN/build_tarballs.jl
  C/CUDNN/build_10.2.jl
  C/CUDNN/build_11.jl
  C/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#8113 CUDNN: Also dlopen internal libraries.
  C/CUDA/CUDNN/build_tarballs.jl
Labels: cuda :joystick:

#8132 LLVM: Add IR downgrader.
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:

#8136 [CONTRIBUTING.md] Add more info
  CONTRIBUTING.md
Labels: meta :deciduous_tree:

#8139 LLVM: Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#8143 gmmlib: bump to v22.3.11
  G/gmmlib/build_tarballs.jl
Labels: oneAPI :one:

#8145 oneAPI Level Zero: bump to headers to v1.16.1
  O/oneAPI_Level_Zero/common.jl
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Headers/build_tarballs.jl
Labels: oneAPI :one:

#8147 oneAPI Level Zero: bump loader to v1.16.1
  O/oneAPI_Level_Zero/oneAPI_Level_Zero_Loader/build_tarballs.jl
Labels: oneAPI :one:

#8144 libigc: bump to v1.0.15985.7
  L/libigc/build_tarballs.jl
Labels: oneAPI :one:

#8150 NEO: bump to v24.05.28454.6
  N/NEO/build_tarballs.jl
Labels: oneAPI :one:

#8183 oneAPI: Bump headers and support library to 2024.0.0.
  O/oneAPI_Support/build_tarballs.jl
  O/oneAPI_Support_Headers/build_tarballs.jl
Labels: oneAPI :one:

#7954 Bump SPIRV to LLVM translator.
  S/SPIRV_LLVM_Translator_unified/build_tarballs.jl
Labels: oneAPI :one:

#7947 RootFS/Go: New version 1.21.6
  0_RootFS/Go/build_tarballs.jl
Labels: BinaryBuilder :gear:
