Repository JuliaPackaging/Yggdrasil, pull requests merged in 2025-05, with the labels that each got.

#11129 CUDA: Bump driver JLL.
  C/CUDA/CUDA_Driver/build_tarballs.jl
Labels: cuda :joystick:

#11148 CUDA: Bump cuTensor to 2.2.0.
  C/CUDA/CUTENSOR/build_tarballs.jl
Labels: cuda :joystick:

#11150 CUDA: Bump cuQuantum to 25.03.0.
  C/CUDA/cuQuantum/build_tarballs.jl
Labels: cuda :joystick:

#11152 Trigger a build of LLVM 18/19/20 with an ORC fix.
  L/LLVM/LLVM_full@18/build_tarballs.jl
  L/LLVM/LLVM_full@19/build_tarballs.jl
  L/LLVM/LLVM_full@20/build_tarballs.jl
  L/LLVM/LLVM_full_assert@18/build_tarballs.jl
  L/LLVM/LLVM_full_assert@19/build_tarballs.jl
  L/LLVM/LLVM_full_assert@20/build_tarballs.jl
  L/LLVM/common.jl
Labels: LLVM :dragon:

#8671 [libflame] Initial build scripts.
  L/libflame/build_tarballs.jl
  L/libflame/bundled/patches/mac-update-makefile.patch
  L/libflame/bundled/patches/windows-remove-time.patch
  L/libflame/bundled/patches/windows-update-build.patch
Labels: linear algebra :1234:

#11268 SPIRV LLVM Translator: Prevent leaking LLVM symbols by controlling visibility
  S/SPIRV_LLVM_Translator/build_tarballs.jl
  S/SPIRV_LLVM_Translator/bundled/patches/addllvm_hidden_l.patch
  S/SPIRV_LLVM_Translator/bundled/patches/visibility.patch
Labels: LLVM :dragon:

#11264 [LibUnwind] Upgrade to v1.8.2
  L/LibUnwind/LibUnwind@1.8.2/build_tarballs.jl
  L/LibUnwind/LibUnwind@1.8.2/bundled/patches/libunwind-configure-static-lzma.patch
  L/LibUnwind/LibUnwind@1.8.2/bundled/patches/libunwind-disable-initial-exec-tls.patch
  L/LibUnwind/LibUnwind@1.8.2/bundled/patches/libunwind-freebsd-aarch64.patch
  L/LibUnwind/LibUnwind@1.8.2/bundled/patches/libunwind-revert_prelink_unwind.patch
  L/LibUnwind/LibUnwind@1.8.2/bundled/patches/linux-disentangle_sigcontext.patch
Labels: julia :purple_heart: :heart: :green_heart:

#10815 HarfBuzz: Build for new platforms
  H/HarfBuzz/HarfBuzz/build_tarballs.jl
  H/HarfBuzz/common.jl
Labels: risc-v :five:
