Repository JuliaPackaging/Yggdrasil, pull requests merged in 2025-06, with the labels that each got.

#11332 LLVM: Bump downgrader to support v18 and v20.
  L/LLVMDowngrader/build_tarballs.jl
Labels: LLVM :dragon:

#11429 CUDA: Bump to 12.9 Update 1.
  C/CUDA/CUDA_Driver/build_tarballs.jl
  C/CUDA/CUDA_Runtime/build_12.9.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
  platforms/cuda.jl
Labels: cuda :joystick:

#11436 CUDA: Bump SDKs to 12.9 Update 1.
  C/CUDA/CUDA_SDK@12.9/build_tarballs.jl
  C/CUDA/CUDA_SDK_static@12.9/build_tarballs.jl
Labels: cuda :joystick:

#11442 Add recipe for juliaup
  J/juliaup/build_tarballs.jl
Labels: rust :crab:

#11456 LLVM: Bump LLVMExtra.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#11458 LLVM: Bump LLVMExtra again.
  L/LLVMExtra/build_tarballs.jl
Labels: LLVM :dragon:

#11443 [LBT] Upgrade to v5.13.0
  L/libblastrampoline/common.jl
  L/libblastrampoline/libblastrampoline@5.11/bundled/cmake/yggdrasilenv.cmake
  L/libblastrampoline/libblastrampoline@5.12/bundled/cmake/yggdrasilenv.cmake
  L/libblastrampoline/libblastrampoline@5.13/build_tarballs.jl
  L/libblastrampoline/libblastrampoline@5.4/bundled/cmake/yggdrasilenv.cmake
Labels: julia :purple_heart: :heart: :green_heart:, linear algebra :1234:

#11535 CUDA: Split compiler bits out in separate JLL.
  C/CUDA/CUDA_Compiler/build_11.jl
  C/CUDA/CUDA_Compiler/build_12.jl
  C/CUDA/CUDA_Compiler/build_tarballs.jl
  C/CUDA/CUDA_Compiler/platform_augmentation.jl
  C/CUDA/CUDA_Runtime/build_10.2.jl
  C/CUDA/CUDA_Runtime/build_11.4.jl
  C/CUDA/CUDA_Runtime/build_11.5.jl
  C/CUDA/CUDA_Runtime/build_11.6.jl
  C/CUDA/CUDA_Runtime/build_11.7.jl
  C/CUDA/CUDA_Runtime/build_11.8.jl
  C/CUDA/CUDA_Runtime/build_12.0.jl
  C/CUDA/CUDA_Runtime/build_12.1.jl
  C/CUDA/CUDA_Runtime/build_12.2.jl
  C/CUDA/CUDA_Runtime/build_12.3.jl
  C/CUDA/CUDA_Runtime/build_12.4.jl
  C/CUDA/CUDA_Runtime/build_12.5.jl
  C/CUDA/CUDA_Runtime/build_12.6.jl
  C/CUDA/CUDA_Runtime/build_12.8.jl
  C/CUDA/CUDA_Runtime/build_12.9.jl
  C/CUDA/CUDA_Runtime/build_tarballs.jl
Labels: cuda :joystick:

#11537 CUDA: Bump libNVVM.
  C/CUDA/libNVVM/build_tarballs.jl
Labels: cuda :joystick:

#11541 CUDA: Put the compiler version in the init block instead.
  C/CUDA/CUDA_Compiler/build_tarballs.jl
Labels: cuda :joystick:
