Repository JuliaPackaging/Yggdrasil, pull requests merged in 2025-02, with the labels that each got.

#10416 CUDA: Added CUDNN@8 with CUDNN v8.9.5
  C/CUDA/CUDNN@8/build_tarballs.jl
Labels: cuda :joystick:

#10417 [CUDNN] Changed CUDNN to package v8.9.6
  C/CUDA/CUDNN@8/build_tarballs.jl
Labels: cuda :joystick:

#10415 [CUDNN] Changed CUDNN to package v8.9.7
  C/CUDA/CUDNN@8/build_tarballs.jl
Labels: cuda :joystick:

#10421 [TensorRT] Changed to package v10.4.0
  T/TensorRT/build_10.2.jl
  T/TensorRT/build_11.0.jl
  T/TensorRT/build_11.1.jl
  T/TensorRT/build_11.2.jl
  T/TensorRT/build_11.3.jl
  T/TensorRT/build_11.jl
  T/TensorRT/build_cuda+11.jl
  T/TensorRT/build_cuda+12.jl
  T/TensorRT/build_tarballs.jl
Labels: cuda :joystick:

#10418 [TensorRT] Changed to package v10.5.0
  T/TensorRT/build_cuda+11.jl
  T/TensorRT/build_cuda+12.jl
  T/TensorRT/build_tarballs.jl
Labels: cuda :joystick:

#10505 [CI] Increase limit files concurrently open
  .buildkite/build.sh
Labels: meta :deciduous_tree:

#10516 Add recipe for the LLVM SPIR-V back-end.
  S/SPIRV_LLVM_Backend/build_tarballs.jl
  S/SPIRV_LLVM_Backend/bundled/patches/avoid_builtin_available.patch
Labels: LLVM :dragon:

#10558 NVTX: Bump to v3.1.1.
  N/NVTX/build_tarballs.jl
  N/NVTX/bundled/patches/nvtx-linux-limits.patch
  N/NVTX/bundled/patches/nvtx-pragma-hidden.patch
  N/NVTX/bundled/patches/nvtx-windows-case.patch
Labels: cuda :joystick:

#10599 [libLLVM] Bump to v19.1.7+1
  L/LLVM/libLLVM@19/build_tarballs.jl
Labels: LLVM :dragon:

#10612 [CUDSS] Upgrade to v0.5
  C/CUDA/CUDSS/build_tarballs.jl
Labels: cuda :joystick:
