Repository JuliaPackaging/Yggdrasil, pull requests merged in 2025-04, with the labels that each got.

#10525 [Lua] Bump to pick up riscv
  L/Lua/build_tarballs.jl
Labels: Lua :moon:, risc-v :five:

#10986 SPIRV Translator: Switch to a single version linking LLVM statically.
  S/SPIRV_LLVM_Translator/SPIRV_LLVM_Translator@15/build_tarballs.jl
  S/SPIRV_LLVM_Translator/SPIRV_LLVM_Translator@16/build_tarballs.jl
  S/SPIRV_LLVM_Translator/SPIRV_LLVM_Translator@17/build_tarballs.jl
  S/SPIRV_LLVM_Translator/SPIRV_LLVM_Translator@18/build_tarballs.jl
  S/SPIRV_LLVM_Translator/SPIRV_LLVM_Translator@19/build_tarballs.jl
  S/SPIRV_LLVM_Translator/build_tarballs.jl
  S/SPIRV_LLVM_Translator/common.jl
  S/SPIRV_LLVM_Translator_unified/build_tarballs.jl
Labels: LLVM :dragon:

#10990 SPIRV Translator: Build for LLVM 19.
  S/SPIRV_LLVM_Translator/build_tarballs.jl
Labels: LLVM :dragon:

#11011 SPIRV LLVM translator: Rebuild against GCC 10.
  S/SPIRV_LLVM_Translator/build_tarballs.jl
Labels: LLVM :dragon:

#11015 [oneAPI_Support_Headers] Upgrade to v2025.1.0
  O/oneAPI_Support_Headers/build_tarballs.jl
Labels: oneAPI :one:
